/* define colors as CSS variables */
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --accent-color: #e74c3c;
    --input-border-color: #ccc;
    --input-backround-color: #f8f8f8;
    --signup-login-button: #fcb40b;
    --signup-login-text: #fff;
  }

.container, .container form, .input_label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container form{
    width:20rem;
    padding: 3rem;
    border-radius: 8px;
}

.container form button {
    background-color: var(--signup-login-button);
    color: var(--signup-login-text);
    border:none;
    border-radius: 25px;
    font-size: large;
    padding: 0.7rem 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.input_label{
    align-items: flex-start;
    margin-bottom: 1rem;
    width: 100%;
}

.input_label input{
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 5px;
    background-color: var(--input-backround-color);
}

 .password{
    width: 100%;
}

.input_label label{
    font-size: small;
}

.container a{
    color: var(--primary-color);
    text-decoration: none;
    margin-top: 1rem;
}

.icon-eye {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }