/* define colors as CSS variables */
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --accent-color: #e74c3c;
    --input-border-color: #ccc;
    --background-color-for-login: #0a4d26;
  }

.container{
    width: 420px;
    background: #1f5535;
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;

}
.container h2 {
    font-size: 30px;
    text-align: center;
}

.container .input_label {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input_label input{
     
    width: 100%;
    height: 100%;
    background:transparent;
    border: 2px solid var(--input-border-color);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 10px 45px 20px 20px;
}

.container .remember_me{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 20px 0 15px; 
}

.remember_me label input{
    accent-color: #fff;
    margin-right: 5px;
}

.remember_me a {
    color: #fff;
    text-decoration: none;

}

.remember_me a:hover{
    text-decoration: underline;
}

.container button{
    
    width: 100%;
    height: 45px;
    background: #ea9e24;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 5px rgba(0,0,0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 40px;
}

.container .register_link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 15px;

}

.register_link p a{
    color: #ea9e24;
    text-decoration: none;
    font-weight: 600;

}

.register_link p a:hover{
    text-decoration: underline;
}