body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

body, html, .main-content, .post-image {
    width:100%;
}

.main-content {
    max-width: 93%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f2f5;
}

.status-update {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.status-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.status-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    font-size: medium;
}

.status-options {
    display: flex;
    justify-content: space-between;
}

.status-option {
    padding: 10px 15px;
    background-color: #e4e6eb;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    flex-grow: 1;
    text-align: center;
}

.status-option:hover {
    background-color: #ddd;
}

.post {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-user {
    font-weight: bold;
    margin: 0;
}

.post-time {
    color: #777;
    margin: 0;
}

.post-content {
    margin-bottom: 10px;
}

.post-image {
    border-radius: 10px;
    margin-top: 10px;
}

.post-actions {
    display: flex;
    justify-content: space-between;
    color: #777;
    font-size: 14px;
}

.slider {
    width: 100%;
    height: 100%;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    margin: 20px;
    width:fit-content;
}

.navigation button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    position: relative;
    outline: none;
    background-color: #ffffff;
    margin-left: 40px;
    transition: box-shadow 0.3s ease, color 0.3s ease, background-color 0.3s ease;
    border-radius: 5px;
    font-weight: bold;
}

.navigation button::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #000;
    left: 50%;
    bottom: 0;
    transition: width 0.3s ease, left 0.3s ease;
}

.navigation button.active {
    color: #007BFF;
}

.navigation button.active::after {
    width: 100%;
    left: 0;
}

.content {
    position: relative;
    border-radius: 15px;
    margin: 20px;
}

.content-item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

.content-item.active {
    opacity: 1;
    pointer-events: auto;
}

.profile-followers-container {
    position: relative; 
    background-color: #fff;
    border-radius: 15px;
    width: 90%;
}
.profile-followers-container h2 {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
}

.profile-followers-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.profile-followers-container ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    list-style: none;
    cursor: pointer;
    width: fit-content;
    /* box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); */
    border: solid 1px #ddd;
    border-radius: 15px;
    margin: 10px;

}

.remove-follow-button {
    background-color: #d0cece;
    color: black;
    border: none;
    margin-left: 20px;
    border-radius: 5px;
    padding: 5px;
    font-size: large;
    cursor: pointer;
}

.profile-followers, .profile-followers-container input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
}

.profile-followers-container input {
    margin-top: 20px;
    font-size: medium;
}

.profile-followers-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    font-size: larger;
}

.profile-icon-icon {
    transform: scale(1.5);
}