/* Sidebar.css */
.sidebar {
  width: 100%; 
  background-color: #f0f2f5;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  height: 100%;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.sidebar::-webkit-scrollbar {
  display: none;  
}

.sidebar h3 {
  margin-bottom: 15px;
  color: #333;
  font-size: 20px; 
}

.sidebar-section {
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 15px 0; 
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar-item:hover {
  background-color: #f9f9f9;
}

.sidebar-icon {
  width: 30px; 
  height: 30px; 
  margin-right: 15px;
}

.sidebar-text {
  font-size: 18px; 
  color: #333;
}

.skills .skill-item, .portfolio-links .portfolio-item, .verifications .verification-item {
  background-color:var(--background-color--of--MainContent);
  color: #333;
  border-radius: 5px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
  font-size: 16px; 
}

.skills .skill-item:hover, .portfolio-links .portfolio-item:hover, .verifications .verification-item:hover {
  background-color: #d0d0d0;
}
