:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --accent-color: #e74c3c;
  --input-border-color: #ccc;
  --input-background-color: #f8f8f8;
  --signup-login-button: #fcb40b;
  --signup-login-text: #fff;
  --background-color-for-login: #0a4d26;
  --lightmode-icon-color: black;
}

[data-theme="dark"] {
  --primary-color: #276478;
  --secondary-color: #1a6848;
  --accent-color: #992d22;
  --input-border-color: #666;
  --input-background-color: #333;
  --signup-login-button: #e69500;
  --signup-login-text: #eaeaea;
  --background-color-for-login: #75eaa6;
  --lightmode-icon-color: orange;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.theme-toggle-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: white;
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 10px;
  color: var(--lightmode-icon-color);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;

}

.theme-toggle-btn .icon {
  font-size: x-large;
}
